/* form styling */
div.button{
	text-align: center;
	padding-top: 10px;
}

div.button form{
  color: gray;
}

div.button button{
  margin-top: 10px;
}
/* end form styling */

/* coding page styling */
.leftCol {
  float: left;
  width: 50%;
}

.rightCol {
  float: left;
  width: 50%;
}

.right2Col {
  float: left;
  width: 66.66%;
}

.codingArea{
  margin: 1%;
  padding: 1%;
  width: 90%;
}

#runCode{
  margin: 1%;
  display: block;
}

textarea{
  align-content: center;
}
/* end coding page styling */

/* list styling */
nav {
  background-color: #404040;
  height: 48px;
}
nav ul{
  margin: 0px;
  padding: 0px;
  display: inline-block;
}
nav ul li{
  padding: 0px;
  margin: 0px;
  float: left;
}
nav ul li button {
  width: 100px;
  height: 48px; 
  border-style: solid;
  border-top: 0px;
  border-bottom: 0px;
  border-left: 0px;
  border-color: white;
  background-color: #404040;
  color: white;
  float: left;
}

button:hover{
  color: black;
  background-color: white;
  transition-duration: .5s;
}
/* end styling */

/* page styling */
body {
    background-color: #606060;
    margin: 0;
  }

h1 {
text-align: center;
color: gray;
}

div.button h3 {
display: inline-block;
color: gray;
}

h2 {
color: gray;
}

section h2 {
text-align: center;
}

h3 {
text-align: center;
color: gray;
}

p.button {
color: gray;
}

article p {
text-align: center;
color: white;
}
/* end page styling */